.img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.shopName {
  font-size: 18px;
  padding: 8px 0;
  margin: 4px 0 18px;
  border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
}

.titleWrap {
  display: flex;
  align-items: center;
}

.commonTitle {
  font-size: 12px;
  padding-left: 4px;
  margin: 0;
}

.commonWrap {
  margin-top: 18px;
}

.data {
  padding-left: 14px;
  font-size: 12px;
  margin: 0;
}

.iframe {
  width: 100%;
  height: 190px;
  margin-top: 20px;
  border: 1px solid rgb(182, 182, 182);
}
