.container {
  margin: 0 auto;
  text-align: center;
  letter-spacing: -1px;
  font-family:  "arial black", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-right: 15px;
}