.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 0 55px;
}

.title {
  margin: 0;
  font-size: 30px;
  letter-spacing: -1px;
  font-family: "arial black", sans-serif;
  text-align: left;
}
