@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap");

.container {
  width: 265px;
  margin: 60px auto 40px;
}

.btnWrap {
  display: inline-block;
  padding: 10px 45px;
  width: 175px;
  background-color: #fff;
  line-height: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
  border-radius: 40px;
}

.btnWrap:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.title {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  color: #000;
}

.spanCat {
  color: rgb(139, 94, 58);
}

.spanArrow {
  padding-left: 10px;
}
