@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap");

.btnWrap {
  display: inline-block;
  margin: 60px 0 40px;
  padding: 10px 45px;
  width: 175px;
  background-color: #fff;
  /* background-color: rgb(243, 221, 198); */
  /* border: 1px solid rgb(243, 221, 198); */
  line-height: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
  border-radius: 40px;
}

.title {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  color: #000;
}

.spanCat {
  color: rgb(139, 94, 58);
}

.spanArrow {
  padding-left: 10px;
}
