.container {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #000;
  color: #000;
  height: 100px;
}

.accessWrap {
  display: flex;
  font-size: 8px;
}

.img {
  width: 100px;
  min-width: 100px;
  height: 100px;
}

.infWrap {
  margin-left: 6px;
}

.shopName {
  font-size: 16px;
  margin-bottom: 8px;
}

.accessWrap {
  display: flex;
}

.access {
  margin: 0;
  padding-left: 2px;
  color: rgb(112, 112, 112);
}
